.lead__banner {
    width: 984px;
    height: 615px;
    background: url(../../../images/lead-polka.jpg) center;
    background-size: cover;
}

@media (max-width: 1280px) and (min-width: 1024px) {
    .lead__banner {
        width: 928px;
        height: 580px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .lead__banner {
        width: 768px;
        height: 480px;
    }
}

@media (max-width: 767px) and (min-width: 425px) {
    .lead__banner {
        width: 425px;
        height: 265px;
    }
}