.lead {
    max-width: calc(100% - 148px * 2);
    margin: 28px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1280px) and (min-width: 1024px) {
    .lead {
        max-width: calc(100% - 48px * 2);
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .lead {
        max-width: 768px;
        margin-bottom: 24px;
    }
}

@media (max-width: 767px) and (min-width: 425px) {
    .lead {
        max-width: 425px;
        margin-bottom: 0;
    }
}