.header {
    max-width: calc(100% - 96px);
    margin: 28px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width: 1023px) and (min-width: 768px) {
    .header {
        max-width: calc(100% - 48px);
    }
}

@media (max-width: 767px) and (min-width: 425px) {
    .header {
        max-width: calc(100% - 48px);
    }
}

@media (max-width: 424px) {
    .header {
        max-width: calc(100% - 32px);
        margin: 16px auto 0;
    }
}