.intro {
    max-width: 690px;
    margin-left: 148px;
}

@media (max-width: 1280px) and (min-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .intro {
        max-width: 720px;
        margin-left: 24px;
    }
}

@media (max-width: 767px) and (min-width: 425px) {
    .intro {
        max-width: 425px;
        margin-left: 20px;
    }
}